
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .btnAdd{
  font-size: 20px;
 }
 .btnAdd:hover{
  background-image: linear-gradient(rgb(89, 199, 89),rgb(1, 36, 1));
  color: white;
  border-radius: 30px;
  cursor: pointer;;
}
.listtodo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.delIcons{
  color: red;
}
.time{
  color: green;
}
.expireDate{
  color: red;
}
